	<div id="intro" class="col_12 center">
		<h2>?</h2>
		<h4>Это такой сайт с авторизацией через разные соцсеточки. Примерно как Логинза, но опенсорсный.
			Работает только через API, хотя можно попробовать и так.</h4>
		<!-- <a href="/downloads/" class="btn large green">Download Now</a> or <a href="/elements/" class="btn large blue">Explore Elements »</a> -->
	</div><hr />
	<div class="clearfix"></div>
	<div class="col_4"></div>
	<div class="col_4 center box-shadow">
		ps: это заготовка. заходите завтра. или послезавтра
		<p>тогда и попробуете</p>
	</div>
	<div class="col_4"></div>
	<hr/>